.login {
    .loginFormTitle {
        text-align: center;
    }
    .rememberMeForegetPasswordContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.forgetPassword {
    .forgetPasswordFormTitle {
        text-align: center;
    }
    .verifyCodeContainer {
        display: flex;
        justify-content: space-between;
    }
}
.register {
    .registerFormTitle {
        text-align: center;
    }
}