.login {
    display: flex;
    justify-content: center;
    .loginFormTitle {
        text-align: center;
    }
    .rememberMeForegetPasswordContainer {
        display: flex;
        justify-content: space-between;
        align-items: center
    }
}