.blog {
    word-wrap: break-word;
    .editorContainer {
        .ql-container {
            min-height: 400px;
        }
        .ql-toolbar {
            background-color: #ddd;
        }
        .categoriesActionContainer {
            display: flex;
            justify-content: space-between;
            .action {
                min-width: 200px;
            }
        }
        .coverMessage {
            color: red;
            text-align: center;
            font-size: 0.8rem;
            transition-duration: 0.3s;
            opacity: 0;
            transform: translateY(-12px);
            &.showCoverMessage {
                padding: 1rem;
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    .viewBlogContainer {
        .coverContainer {
            text-align: center;
            .cover {
                width: 100%;
                height: auto;
            }
        }
        .blogTitle {
            font-size: 40px;
            font-family: medium-content-title-font, Georgia, Cambria,
                "Times New Roman", Times, serif;
        }
        .updatedDate {
            color: #999;
        }
    }
    .viewUserBlogsContainer {
        .blogContainer {
            cursor: pointer;
            border-radius: 10px;
            &:hover {
                background: #aaa;
            }
        }
    }
}
