.blog {
    word-wrap: break-word;
    .editorContainer {
        .ql-container {
            min-height: 400px;
        }
        .ql-image {
            width: 100%;
            height: auto;
            min-width: 35px;
        }
        .ql-toolbar {
            background-color: #ddd;
        }
        .categoriesActionContainer {
            display: flex;
            justify-content: space-between;
            .action {
                min-width: 200px;
            }
        }
    }
    .viewBlogContainer {
        .ql-image {
            width: 100%;
            height: auto;
            min-width: 35px;
        }
        .coverContainer {
            text-align: center;
            .cover {
                width: 80%;
                height: auto;
            }
        }
        .blogTitle {
            font-size: 40px;
            font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
        }
        .updatedDate {
            color: #999
        }
    }
}