// global style setting and import file
$break-point-xs: 480px;
$break-point-sm: 576px;
$break-point-md: 768px;
$break-point-lg: 1024px;
$break-point-xl: 1280px;

body {
    margin: 0;
    padding: 0;
    .v-btn {
        text-transform: none;
    }
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        word-wrap: break-word;
        word-break: break-all;
    }
    .v-tab {
        text-transform: none;
    }
}
html,
body {
    height: 100%;
}

@import "./home.scss";
@import "./auth.scss";
@import "./blog.scss";
@import "./user.scss";
@import "./layout.scss";
@import "./sideBar.scss";
