// global style setting and import file
$break-point-xs: 480px;
$break-point-sm: 480px;
$break-point-md: 768px;
$break-point-lg: 1024px;
$break-point-xl: 1280px;

body {
    margin: 0;
    padding: 0;
    .v-btn {
        text-transform: none;
    }
    div {
        word-wrap: break-word;
        word-break: break-all;
    }
    .v-tab {
        text-transform: none;
    }
}

@import "./home.scss";
@import "./auth.scss";
@import "./blog.scss";
@import "./user.scss";
@import "./layout.scss";
@import "./sideBar.scss";
