// global style setting and import file
body {
    margin: 0;
    padding: 0;
    .v-btn {
        text-transform: none;
    }
    .title-1 {
        font-size: x-large;
        font-weight: bolder;
    }
    .title-2 {
        font-size: large;;
    }
    .v-application--wrap {
        background-color: #eee;
    }
}

@import './home.scss';
@import './auth.scss';

