.layout {
    .nuxt {
        min-height: 100vh;
    }
}
.footer {
    margin: 5rem 1rem 1rem 0;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
