.layout {
    .nuxt {
        min-height: 100vh;
    }
    .homepageFooter {
        margin-top: 5rem !important;
        height: 10rem !important;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
