
// day mode theme
$THEME-DAY-BACKGROUND-COLOR: #eee;
$THEME-DAY-TEXT-COLOR: #000;

// night mode theme
$THEME-NIGHT-BACKGROUND-COLOR: #111;
$THEME-NIGHT-TEXT-COLOR: #fff;


html, body, #__next, .layout {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  margin: 0 auto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.light {
  color: $THEME-DAY-TEXT-COLOR;
  background-color: $THEME-DAY-BACKGROUND-COLOR;
}

.dark {
  color: $THEME-NIGHT-TEXT-COLOR;
  background-color: $THEME-NIGHT-BACKGROUND-COLOR;
}


@import './test.scss';
@import './login.scss';