
html, body, #__next {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}


@import './home.scss';
@import './login.scss';
@import './register.scss';