.login {
  .facebookButton {
    border: 0 solid;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    font-weight: 900;
    color: #fff;
    background-color: #2e76f2;
    cursor: pointer;
  }
}