.profile {
  display: flex;
  justify-content: center;
  .paperContainer {
    margin: 50px 0
  }
  .passwordContainer {
    margin: 50px
  }
  .MuiButton-root {
    text-transform: none;
  }
}
.dialogContainer {
  .MuiDialogContent-root {
    overflow-y: hidden;
  }
  .MuiButton-root {
    text-transform: none;
  }
}