.register {
  display: flex;
  justify-content: center;
  .paperContainer {
    margin: 50px 0;
    .pageMeassage {
      font-size: 20px;
      text-align: center;
    }
    .facebookButton {
      margin: 30px 0;
      border: 0 solid;
      width: 100%;
      background-color: transparent;
      .facebookButtonTextContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        background-color: #385499;
        &:hover {
          background-color: #364c85;
        }
      }
    }
  }
  .MuiButton-root {
    text-transform: none;
  }
}