.register {
  display: flex;
  justify-content: center;
  .paperContainer {
    margin: 50px 0;
    .pageMeassage {
      font-size: 20px;
      text-align: center;
    }
  }
  .MuiButton-root {
    text-transform: none;
  }
}