<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBlog 重置密碼驗證碼 | iBlog Reset Password Verify Code</title>
  </head>
  <body style="margin: 0; background-color: #eee;">
    <div style="margin-top: 20px; display: flex; justify-content: center;">
      <div style="width: 90%; max-width: 500px; background-color: #fff;">
        <div style="background-color: blue; color: #fff; padding: 10px 20px; font-size: 20px; font-weight: bolder;">iBlog</div>
        <div style="padding: 20px 40px;">
          <p style="font-size: 18px; font-weight: 900;">Dear <%= username %>:</p>
          <p>Your password reset verify code is as follow.</p>
          <p style="font-size: 20px; color: blue;"><%= verifyCode %></p>
          <div style="margin-top: 50px;">
            <p>Need help? Please contact: <a href="mailto:lipohong@hotmail.com">lipohong@hotmail.com</a></p>
          </div>
        </div>
        <hr style="border: 0px solid #eee; border-width: 10px;" />
        <div style="padding: 20px 40px;">
          <p style="font-size: 18px; font-weight: 900;"><%= username %> 先生/女士:</p>
          <p>以下為本次重置賬號密碼的驗證碼。</p>
          <p style="font-size: 20px; color: blue;"><%= verifyCode %></p>
          <div style="margin-top: 50px;">
            <p>遇到問題? 可以聯係: <a href="mailto:lipohong@hotmail.com">lipohong@hotmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>